
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>中文字体示例</title>
</head>
<style>
    html, body {
        height: 100%;
    }
    body, body * {
        box-sizing: border-box;
        font-size: 36px;
    }
    textarea {
        width: calc(100% - 20px);
        resize: vertical;
        height: 66px;
    }
    table {
        width: 100%;
    }
    tr > td:nth-of-type(1) {
        white-space: nowrap;
        text-align: right;
        padding-right: 20px;
    }
</style>
<body>
    <div id="app">
        <table><tbody>
            <tr v-for="(row, i) in fonts">
                <td :style="{'font-family': row[0]}">{{row[0]}}</td>
                <td><textarea v-model="text" :style="{'font-family': row[0]}"></textarea></td>
            </tr>
        </tbody></table>
    </div>

    <script src="../js/my/util.js"></script>
    <script src="../js/vue/vue3.global.js"></script>
<script>
    const vm = Vue.createApp({
        data() {
            return {
                text: '',
                fonts: [], // [[font name]]
            }
        },
        async created() {
            let type = location.search ? location.search.substr(1) : 'cn';
                path = `./font/${type}/`,
                pageInfo ={
                    // [title, default text]
                    en: ['英文字体示例', 'abcdefghijklmnopqrstuvwxyz'],
                    cn: ['中文字体示例', ''],
                    other: ['其他字体示例', 'abcdefghijklmnopqrstuvwxyz'],
                };
            document.title = pageInfo[type][0];
            this.text = pageInfo[type][1];

            let fileText = await fetchTextFile('../fileList.txt');
            let style = document.createElement('style');
            fileText.split('\n').filter(line => line && line.startsWith(path)).forEach(line => {
                let name = line.substring(line.lastIndexOf('/')+1, line.lastIndexOf('.'));
                let link = line.replace('./font/', '');
                this.fonts.push([name]);
                style.appendChild(document.createTextNode(`
                    @font-face {
                        font-family: "${name}";
                        src: url('${link}') format('truetype');
                    }
                `));        
            });
            document.head.appendChild(style);
        },
        methods: {}
    }).mount("#app");
</script>
</body>
</html>
